{% extends 'CowboyDuelAdminBundle::layout.html.twig' %}
{% block title %}Список гравців{% endblock %}

{% block right %}

<div class="section">
	<div class="box">
		<div class="title">
			Зброя
			<span class="hide"></span>
		</div>
		<div class="content">
		  <table>
         	<thead>
         		<tr>
            		<th>Title</th>
            		<th>Damage</th>
            		<th>Golds</th>
            		<th>Thumb</th>
            		<th>Sound</th>
            		<th>Description</th>
            		<th>Level Lock</th>
        	 	</tr>
         	</thead>
         	<tbody>
				 {% for e in  data.list_store %}
				 	{% if e.type == 'weapons' %}
          				<tr>
             				<td><a href="{{ path("store_edit_item", { 'id': e.id }) }}">{{ e.title }}<a></td>
             				<td>{{ e.damageOrDefense }}</td>
             				<td>{{ e.golds }}</td>  				
             				<td><img src='{{ e.thumb }}' alt="thumb" /></td>             				        				
             				<td>
             					<audio id="audio{{ e.id }}" src="{{ e.sound }}"></audio>
             					<div> 
 									<button onclick="document.getElementById('audio{{ e.id }}').play()">Play</button>
 								</div> 								         					
             				</td>
             				<td>{{ e.Description }}</td>
             				<td>{{ e.levelLock }}</td>
         				</tr>
         			{% endif %}
		 		 {% endfor%}
         	</tbody>
           </table>
		</div>
	</div>
	<div class="box">
		<div class="title">
			Захист
			<span class="hide"></span>
		</div>
		<div class="content">
		  <table>
         	<thead>
         		<tr>
            		<th>Title</th>
            		<th>Defense</th>
            		<th>Golds</th>
            		<th>Thumb</th>
            		<th>Sound</th>
            		<th>Description</th>
            		<th>Level Lock</th>
        	 	</tr>
         	</thead>
         	<tbody>
				 {% for e in  data.list_store %}
				 	{% if e.type == 'defenses' %}
          				<tr>
             				<td><a href="{{ path("store_edit_item", { 'id': e.id }) }}">{{ e.title }}<a></td>
             				<td>{{ e.damageOrDefense }}</td>
             				<td>{{ e.golds }}</td>          				
             				<td><img src='{{ e.thumb }}' alt="thumb" /></td>             				        				
             				<td>
             					<audio id="audio{{ e.id }}" src="{{ e.sound }}"></audio>
             					<div> 
 									<button onclick="document.getElementById('audio{{ e.id }}').play()">Play</button>
 								</div> 								         					
             				</td>
             				<td>{{ e.Description }}</td>
             				<td>{{ e.levelLock }}</td>
         				</tr>
         			{% endif %}
		 		 {% endfor%}
         	</tbody>
           </table>
		</div>
	</div>
</div>
{% endblock %}