{% extends 'CowboyDuelAdminBundle::layout.html.twig' %}
{% block title %}Гравець {{ entity.nickname }}{% endblock %}

{% block right %}
<div class="section">
  <div class="box">
		<div class="title">
			Операції
			<span class="hide"></span>
		</div>
		<div class="content">
			<a href="{{ path("users_edit_user", { 'id': entity.userId }) }}" class="btn">
				Edit
			</a>
		</div>
  </div>
</div>

<div class="section">		
  <div class="half">
	<div class="box">
		<div class="title">
			Гравець
			<span class="hide"></span>
		</div>
		<div class="content">		
			<div class="row">
				<label class="notInForn">Nickname</label>
				<div class="right"><a href="https://www.facebook.com/{{ idAuthenFacebook }}" target="blank"><b>{{ entity.nickname}}</b></a></div>
		  	</div>
		  	<div class="row">
				<label class="notInForn">Device name</label>
				<div class="right">{{ entity.deviceName|default('не вказано') }}</div>
		  	</div>
		  	<div class="row">
				<label class="notInForn">First login</label>
				<div class="right">{{ entity.firstLogin|date('d/m/Y') }}</div>
		  	</div>
		  	<div class="row">
				<label class="notInForn">Last login</label>
				<div class="right">{{ entity.lastLogin|date('d/m/Y') }}</div>
		  	</div>
		  	<div class="row">
				<label class="notInForn">Region</label>
				<div class="right">{{ entity.region|default('не вказано') }}</div>
		  	</div>
		  	<div class="row">
				<label class="notInForn">Current language</label>
				<div class="right">{{ entity.currentLanguage|default('не вказано') }}</div>
		  	</div>	  	
		  	<div class="row">
				<label class="notInForn">Age</label>
				<div class="right">{{ entity.age }}</div>
		  	</div>
		  	<div class="row">
				<label class="notInForn">Home town</label>
				<div class="right">{{ entity.homeTown|default('не вказано') }}</div>
		  	</div>
		</div>
	</div>
  </div>
  <div class="half">
	<div class="box">
		<div class="title">
			Ігрова інформація
			<span class="hide"></span>
		</div>
		<div class="content">		
			<div class="row">
				<label class="notInForn">Money</label>
				<div class="right">{{ entity.money }}</div>
		  	</div>
		  	<div class="row">
				<label class="notInForn">Level</label>
				<div class="right">{{ entity.level }}</div>
		  	</div>
		  	<div class="row">
				<label class="notInForn">Points</label>
				<div class="right">{{ entity.points }}</div>
		  	</div>
		  	<div class="row">
				<label class="notInForn">Duels win</label>
				<div class="right">{{ entity.duelsWin }}</div>
		  	</div>
		  	<div class="row">
				<label class="notInForn">Duels lost</label>
				<div class="right">{{ entity.duelsLost }}</div>
		  	</div>
		  	<div class="row">
				<label class="notInForn">Bigest win</label>
				<div class="right">{{ entity.bigestWin }}</div>
		  	</div>
		  	<div class="row">
				<label class="notInForn">Remove ads</label>
				<div class="right">{{ entity.removeAds }}</div>
		  	</div>
		  	<div class="row">
				<label class="notInForn">Friends</label>
				<div class="right">{{ entity.friends }}</div>
		  	</div>
		</div>
 	</div>
  </div>  
</div>
			
<div class="section">
	<div class="box">
		<div class="title">
			Покупки
			<span class="hide"></span>
		</div>
		<div class="content">		
		<div class="row">
			<label class="notInForn">Item store id</label>
			<div class="right">
				<form action="{{ path("store_bought") }}" method="post">
					<input type='text' name='itemId' id="sizeLittle"/>
					<input type='hidden' name='authentification' value="{{ entity.authen }}"/>
					<input type='hidden' name='transactionsId' value="-1"/>					
					<button type="submit"><span>Купити</span></button>
				</form>	
			</div>
		</div>	
		<table>
         	<thead>
         		<tr>
            		<th>Title</th>
            		<th>Type</th>
            		<th>Date</th>
            		<th>Damage/Defense</th>            		
            		<th>Level lock</th>
        	 	</tr>
         	</thead>
         	<tbody>
				 {% for e in  entityInfo.buy_items_store %}			
          			<tr>
             			<td>{{ e.title }}</td>
             			<td>{{ e.type }}</td>
             			<td>{{ e.date|date('d/m/Y') }}</td>
             			<td>{{ e.damageOrDefense }}</td>
             			<td>{{ e.levelLock }}</td>
         			</tr>
		 		 {% endfor%}
         	</tbody>
           </table>
		</div>
	</div>
	<div class="box">
		<div class="title">
			Дуелі з:
			<span class="hide"></span>
		</div>
		<div class="content">
		<table>
         	<thead>
         		<tr>
            		<th>Nickname</th>
            		<th>Date</th>
            		<th>isFriend</th>            		
        	 	</tr>
         	</thead>
         	<tbody>
				 {% for e in  entityInfo.duels %}			
          			<tr> 
          				<td><a href="{{ path("users_show_user", { 'id': e.userId }) }}">{{ e.nickname }}<a></td>            			
             			<td>{{ e.date|date('d/m/Y') }}</td>
             			<td>{{ e.isFriend }}</td>
         			</tr>
		 		 {% endfor%}
         	</tbody>
           </table>
		</div>
	</div>
	<div class="box">
		<div class="title">
			Пости на стіні facebook:
			<span class="hide"></span>
		</div>
		<div class="content">	
		  <ul class="comments">	
			{% for e in  entityInfo.posts_On_Wall %}	
			  <li>
				{% if e.type == 'link' %}					
					<a href="{{ e.link }}" target="blank">
					  {% if 'picture' in e|keys %}
						<img src="{{ e.picture }}" class="imgComments" alt="picture"/>
					  {% endif %}	
					</a>
					<a href="https://www.facebook.com/{{ e.from.id }}" target="blank"><b>{{ e.from.name }}</b></a> 						
					<div class="rightInlineBlock">{{ e.created_time|date('d/m/Y h:m') }}</div>
					<br/>
					{% if 'story' in e|keys %}
						<a href="https://www.facebook.com/{{ e.id }}" target="blank">{{ e.story }}</a> 
					{% endif %}
					<br/><br/>
					{% if 'description' in e|keys %}
						{{ e.description }}
					{% endif %}				  	         			
		  		{% endif %}
		  		{% if e.type == 'status' %}										
					<a href="https://www.facebook.com/{{ e.from.id }}" target="blank"><b>{{ e.from.name }}</b></a> 						
					<div class="rightInlineBlock">{{ e.created_time|date('d/m/Y h:m') }}</div>
					<br/>
					{% if 'story' in e|keys %}
						<a href="https://www.facebook.com/{{ e.id }}" target="blank">{{ e.story }}</a> 
					{% endif %}				  	    			
		  		{% endif %}
		  	  </li> 
		 	{% endfor%}  
		  </ul>       
		</div>
	</div>
</div>
{% endblock %}