{% extends 'CowboyDuelAdminBundle::layout.html.twig' %}
{% block title %}Duels In Day{% endblock %}

{% block right %}

<div class="section">
	<div class="box">
		<div class="title">
			Duels
			<span class="hide"></span>
		</div>
		<div class="content">
         	<div class="chart-caption">Users new</div>
         	<table class="chart" style="width: 100%;">
         		<thead>
         			<tr>
             			<th></th>
             			<<th style="color: #e10000;">Visitors</th>
         			</tr>
         		</thead>
         		<tbody>
		 		 {% for e in  data.duelsInDay_users_new %}			
        		  <tr>
             	 	 <th>{{ e.day }}</th><td>{{ e.count }}</td>
         		  </tr>         		  
		 		 {% endfor%}
         		</tbody>
         	</table>
		 <br>
		 <table>
			<thead>
        		<tr>
             		<th>Day</th><th>Count</th>
             	</tr>
             </thead>
			<tbody>
			  {% for e in  data.duelsInDay_users_new %}			
          		<tr>
             		<td>{{ e.day }} - {{ e.day|date('d/m/Y') }}</td><td>{{ e.count }}</td>
         		</tr>
		 	 {% endfor%}
			</tbody>
		 </table>
		 <br>

         <div class="chart-caption">Users old</div>
         	<table class="chart" style="width : 100%;">
         		<thead>
         			<tr>
             			<th></th>
             			<th style="color: #e10000;">Visitors</th>
         			</tr>
         		</thead>
         		<tbody>
         		 {% for e in  data.duelsInDay_users_old %}
         		  <tr>
             		<th>{{ e.day }}</th><td>{{ e.count }}</td>
         		  </tr>
		 		 {% endfor%}
         		</tbody>
         	</table>
         <br>
         <table>
			<thead>
        		<tr>
             		<th>Day</th><th>Count</th>
             	</tr>
             </thead>
			<tbody>
			  {% for e in  data.duelsInDay_users_old %}			
          		<tr>
             		<td>{{ e.day }} - {{ e.day|date('d/m/Y') }}</td><td>{{ e.count }}</td>
         		</tr>
		 	 {% endfor%}
			</tbody>
		 </table>
         <br>
         
         <div class="chart-caption">Last 10 Day </div>
         <table class="chart" style="width: 100%;">
         	<thead>
         		<tr>
             		<th></th>
            		<th style="color: #e10000;">Visitors</th>
         		</tr>
         	</thead>
         	<tbody>
		 		{% for e in  data.duelsInDay_lastDay_10 %}
         			<tr>
             			<th>{{ e.day }}</th><td>{{ e.count }}</td>
         			</tr>
		 		{% endfor%}
         	</tbody>
         </table>
         
		 <br><br>
         <div class="chart-caption">Region visitors</div>
         <table class="chart" style="width : 100%;">
         	<thead>
         		<tr>
            		<th></th>
             		{% for e in  data.duelsInDay_region.region %}
             			<th style="color: #{{ loop.index * 85}};">{{ e }}</th>
             		{% endfor%}
        	 	</tr>
         	</thead>
         	<tbody>
				  {% for e in  data.duelsInDay_region.data %}			
          			<tr>          				
             			<td>{{ e.day }}</td>
             			{% for j in  e.count %}
             				<td>{{ j }}</td>
             			{% endfor%}
         			</tr>
		 		  {% endfor%}
         	</tbody>
         </table>
		 <br>
			<table>
				<thead>
        		 	<tr>
             			<th>day</th>
             			{% for e in  data.duelsInDay_region.region %}
             				<th>{{ e }}</th>
             			{% endfor%}
             		</tr>
             	</thead>
				<tbody>
				  {% for e in  data.duelsInDay_region.data %}			
          			<tr>
             			<td>{{ e.day }} - {{ e.day|date('d/m/Y') }}</td>
             			{% for j in  e.count %}
             				<td>{{ j }}</td>
             			{% endfor%}
         			</tr>
		 		  {% endfor%}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}