{% extends 'CowboyDuelAdminBundle::layout.html.twig' %}
{% block title %}Продаж товарів{% endblock %}

{% block right %}

<div class="section">
	<div class="box">
		<div class="title">
			Продаж товарів
			<span class="hide"></span>
		</div>
		<div class="content">
			<br>
		    <div class="chart-caption"> Товари куплені за золото</div>
            <table class="chart" style="width : 100%;">
            	<thead>
            		<tr>
                		<th></th>
                		<th style="color : #e10000;">Visitors</th>
            		</tr>
            	</thead>
            	<tbody>
		    	  {% for e in  data.sales_Of_Goods_buy_golds %}
                	 <tr>
                    	<th>{{ e.day }}</th><td>{{ e.count }}</td>
                	</tr>
		    	  {% endfor%}
            	</tbody>
            </table>
		    <br>			
			<table>
				<thead>
        		 	<tr>
             			<td>key</th><th>day</th><th>count</th>
             		</tr>
             	</thead>
				<tbody>
				  {% for e in  data.sales_Of_Goods_buy_golds %}			
          			<tr>
             			<td>{{ e.key }}</td><td>{{ e.day }} - {{ e.day|date('d/m/Y') }}</td><td>{{ e.count }}</td>
         			</tr>
		 		  {% endfor%}
				</tbody>
			</table>
			<br>
			
			<div class="chart-caption">Товари куплені в додатку</div>
            <table class="chart" style="width: 100%;">
            	<thead>
            		<tr>
                		<th></th>
                		<th style="color : #e10000;">Visitors</th>
            		</tr>
            	</thead>
            	<tbody>
		    	   {% for e in  data.sales_Of_Goods_buy_inApp %}
          			<tr>
             			<th>{{ e.day }}</th><td>{{ e.count }}</td>
         			</tr>
		    	  {% endfor%}
            	</tbody>
            </table>
		    <br>
			<table>
				<thead>
        		 	<tr>
             			<th>key</th><th>day</th><th>count</th>
             		</tr>
             	</thead>
				<tbody>
				  {% for e in  data.sales_Of_Goods_buy_inApp %}			
          			<tr>
             			<td>{{ e.key }}</td><td>{{ e.day }} - {{ e.day|date('d/m/Y') }}</td><td>{{ e.count }}</td>
         			</tr>
		 		  {% endfor%}
				</tbody>
			</table>
			<br>
			<div class="chart-caption">Продажи по регионам</div>
            <table class="chart" style="width : 100%;">
            	<thead>
            		<tr>
               			 <th></th>           		 
                		 {% for e in  data.sales_Of_Goods_region.region %}
             				<th style="color: #{{ loop.index * 85}};">{{ e }}</th>
             			 {% endfor%}
            		</tr>
           		</thead>
            	<tbody>
				  {% for e in  data.sales_Of_Goods_region.data %}			
          			<tr>
             			<td>{{ e.day|date('d') }}</td>
             			{% for j in  e.count %}
             				<td>{{ j }}</td>
             			{% endfor%}
         			</tr>
		 		  {% endfor%}
           		</tbody>
            </table>
		    <br>		
			<table>
				<thead>
        		 	<tr>
             			<th>day</th>
             			{% for e in  data.sales_Of_Goods_region.region %}
             				<th>{{ e }}</th>
             			{% endfor%}
             		</tr>
             	</thead>
				<tbody>
				  {% for e in  data.sales_Of_Goods_region.data %}			
          			<tr>
             			<td>{{ e.day|date('d/m/Y') }}</td>
             			{% for j in  e.count %}
             				<td>{{ j }}</td>
             			{% endfor%}
         			</tr>
		 		  {% endfor%}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}