{% extends 'CowboyDuelAdminBundle::layout.html.twig' %}
{% block title %}Продаж товарів{% endblock %}

{% block right %}

<div class="section">
	<div class="box">
		<div class="title">
			Продаж товарів
			<span class="hide"></span>
		</div>
		<div class="content">
		    <div class="chart-caption"> Товари куплені за золото</div>
            <table class="chart" style="width : 100%;">
            <thead>
            <tr>
                <th></th>
                <th style="color : #e10000;">unique visitors</th>
                <th style="color : #000000;">pageviews</th>
            </tr>
            </thead>
            <tbody>
		    {% for e in  data.sales_Of_Goods_buy_golds %}
                <tr>
                    <th>{{ e.day }}</th><td>{{ e.count }}</td>
                </tr>
		    {% endfor%}
            </tbody>
            </table>
		    <br>
			<h3>sales Of Goods buy golds</h3>
			<table>
				<thead>
        		 	<tr>
             			<th>key</th><th>day</th><th>count</th>
             		</tr>
             	</thead>
				<tbody>
				  {% for e in  data.sales_Of_Goods_buy_golds %}			
          			<tr>
             			<th>{{ e.key }}</th><td>{{ e.day }}</td><td>{{ e.count }}</td>
         			</tr>
		 		  {% endfor%}
				</tbody>
			</table>
			<div class="chart-caption"> Товари куплені в додатку</div>
            <table class="chart" style="width : 100%;">
            <thead>
            <tr>
                <th></th>
                <th style="color : #e10000;">unique visitors</th>
                <th style="color : #000000;">pageviews</th>
            </tr>
            </thead>
            <tbody>
		    {% for e in  data.sales_Of_Goods_buy_inApp %}
          			<tr>
             			<th>{{ e.day }}</th><td>{{ e.count }}</td>
         			</tr>
		    {% endfor%}
            </tbody>
            </table>
		    <br>
			<h3>sales Of Goods buy inApp</h3>
			<table>
				<thead>
        		 	<tr>
             			<th>key</th><th>day</th><th>count</th>
             		</tr>
             	</thead>
				<tbody>
				  {% for e in  data.sales_Of_Goods_buy_inApp %}			
          			<tr>
             			<th>{{ e.key }}</th><td>{{ e.day }}</td><td>{{ e.count }}</td>
         			</tr>
		 		  {% endfor%}
				</tbody>
			</table>
			<div class="chart-caption"> Продажи по регионам</div>
            <table class="chart" style="width : 100%;">
            <thead>
            <tr>
                <th></th>
                <th style="color : #e10000;">unique visitors</th>
                <th style="color : #000000;">pageviews</th>
            </tr>
            </thead>
            <tbody>
		    {% for e in  data.sales_Of_Goods_region %}
          			<tr>
             			<th>{{ e.day }}</th><td>{{ e.count }}</td>
         			</tr>
		    {% endfor%}
            </tbody>
            </table>
		    <br>
			<h3>sales Of Goods region</h3>
			<table>
				<thead>
        		 	<tr>
             			<th>day</th><th>count</th><th>region</th>
             		</tr>
             	</thead>
				<tbody>
				  {% for e in  data.sales_Of_Goods_region %}			
          			<tr>
             			<td>{{ e.day }}</td><td>{{ e.count }}</td><td>{{ e.region }}</td>
         			</tr>
		 		  {% endfor%}
				</tbody>
			</table>
		</div>
	</div>
</div>

{% endblock %}