<h2>Action</h2>

<ul>
	<li><a href="{{ path("users_top_board") }}">users_top_board</a></li>
	<li><a href="{{ path("test_top_rank_on_interspace") }}">users_top_rank_on_interspace</a></li>
	<li><a href="{{ path("test_authorization") }}">authorization</a></li>
	<li><a href="{{ path("test_registration") }}">registration</a></li>
	<li><a href="{{ path("test_duels") }}">duels</a></li>
	<li><a href="{{ path("test_transactions") }}">transactions</a></li>
	<li><a href="{{ path("store_list_items") }}">store list items</a></li>
	<li><a href="{{ path("test_store_bought") }}">store bought</a></li>
</ul>