<h2>Action</h2>

<ul>
	<li><a href="{{ path("users_top_board") }}">users_top_board</a></li>
	<li><a href="{{ path("users_top_rank_on_interspace") }}">users_top_rank_on_interspace</a></li>
	<li><a href="{{ path("api_authorization") }}">authorization</a></li>
	<li><a href="{{ path("test_registration") }}">registration</a></li>
	<li><a href="{{ path("test_duels") }}">duels</a></li>
</ul>
