<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
        <title>{% block title %}Welcome!{% endblock %}</title>    
                
        {% block stylesheets %}{% endblock %}      
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/style.css') }}" type="text/css"/>          
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/forms.css') }}" type="text/css"/>
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/forms-btn.css') }}" type="text/css"/> 
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/menu.css') }}" type="text/css"/> 
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/style_text.css') }}" type="text/css"/> 
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/datatables.css') }}" type="text/css"/> 
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/fullcalendar.css') }}" type="text/css"/> 
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/pirebox.css') }}" type="text/css"/> 
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/modalwindow.css') }}" type="text/css"/> 
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/statics.css') }}" type="text/css"/> 
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/tabs-toggle.css') }}" type="text/css"/> 
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/system-message.css') }}" type="text/css"/> 
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/tooltip.css') }}" type="text/css"/> 
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/wizard.css') }}" type="text/css"/> 
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/wysiwyg.css') }}" type="text/css"/> 
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/wysiwyg.modal.css') }}" type="text/css"/> 
        <link rel="stylesheet" href="{{ asset('bundles/cowboydueladmin/css/wysiwyg-editor.css') }}" type="text/css"/> 
       
        {% block javascript %}{% endblock %}
        <script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery-1.7.1.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.backgroundPosition.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.placeholder.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.ui.1.8.17.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.ui.select.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.ui.spinner.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/superfish.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/supersubs.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.datatables.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/fullcalendar.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.smartwizard-2.0.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/pirobox.extended.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.tipsy.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.elastic.source.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.customInput.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.validate.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.metadata.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.filestyle.mini.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.filter.input.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.flot.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.flot.pie.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.flot.resize.min.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.graphtable-0.2.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/jquery.wysiwyg.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/controls/wysiwyg.image.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/controls/wysiwyg.link.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/controls/wysiwyg.table.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/plugins/wysiwyg.rmFormat.js') }}"></script>
		<script type="text/javascript" src="{{ asset('bundles/cowboydueladmin/js/costum.js') }}"></script>  
        
        <link rel="shortcut icon" href="{{ asset('') }}" />                       
    </head>
    <body>    
     	<div class="content">
          {% block content%}
          {% endblock %}
        </div>
        {% block containerFother %}
        {% endblock %}           
    </body>
</html>